<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Document</title>
</head>
<body class="p-3 mb-2 bg-success text-white"
>
        <div class="container">
    {{#developerlist}}
    
    <br>
    
    <img src="{{picture}}" alt="">
    <br>
    <a href="/developer/{{id}}">{{name}}</a>
    {{/developerlist}}
    <a href="/developer/new">ADD NEW DEVLOPER</a>
    </div>
</body>
</html>